:root {
    --green: #088178;
    --gray: #E3E6F3;
    --heading_color: #222;
    --paragraph_color: #465b52;
    /* --green: #cce7d0; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0 !important;
}

.main_heading {
    font-size: 2.875em;
    font-weight: 700;
    color: var(--heading_color);
}

.main_para {
    font-size: 1em;
    font-weight: 400;
}

.card_heading {
    font-size: 14px;
    color: #1a1a1a;
}

.heading-color-black {
    color: var(--heading_color);
}

.para-color-black {
    color: var(--paragraph_color);
}



/* ----------- start --> header-section ----------- */
.header-section {
    background-color: #E3E6F3 !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.navbar-brand {
    position: relative;
    border: 3px solid transparent;
    animation: borderAnimation 4s linear infinite;
    /* transition: 0.3s; */
    /* background: linear-gradient(white, white) padding-box,
              linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(8,129,120,1) 50%, rgba(255,255,255,0) 100%) border-box; */
}

@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(8, 129, 120, 1) 50%, rgba(255, 255, 255, 0) 100%);
        border-image-slice: 1;
    }

    25% {
        border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(8, 129, 120, 1) 50%, rgba(255, 255, 255, 0) 100%);
    }

    50% {
        border-image-source: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(8, 129, 120, 1) 50%, rgba(255, 255, 255, 0) 100%);
    }

    75% {
        border-image-source: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(8, 129, 120, 1) 50%, rgba(255, 255, 255, 0) 100%);
    }

    100% {
        border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(8, 129, 120, 1) 50%, rgba(255, 255, 255, 0) 100%);
    }
}

.navbar-nav li a {
    font-size: 1.12em;
    font-weight: 600;
    color: #1a1a1a;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.5s;
}

.navbar-nav li a:hover,
.navbar-nav li a.active {
    color: var(--green) !important;
}

.navbar-nav li a::after {
    content: '';
    width: 0%;
    height: 2.5px;
    background-color: var(--green);
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: 0.5s;
}

.navbar-nav li a:hover::after,
.navbar-nav li a.active::after {
    width: 100%;
}

/* mobile view */
.navbar-toggler:focus {
    box-shadow: none !important;
}

.mobile-view a,
.fa-outdent,
.fa-xmark {
    color: #1a1a1a;
    font-size: 26px;
    opacity: 1 !important;
    cursor: pointer;
}

/* ----------- end --> header-section ----------- */

/* ----------- start --> hero-section ----------- */
.hero-section {
    background: url(/images/hero4.png) center no-repeat;
    background-size: cover;
}

.hero_heading {
    font-size: 3.125em;
    font-weight: 700;
    letter-spacing: 1px;
}

.hero-body h4 {
    font-size: 1.25em;
    font-weight: 500;
    color: var(--heading_color);
}

.hero-body h2 span {
    font-size: 60px;
    color: var(--green);
}

.shop_btn {
    padding: 12px 70px;
    background-color: transparent;
    background-image: url(/images/button.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 1em;
    font-weight: 600;
    color: var(--green);
    cursor: pointer;
}

/* ----------- end --> hero-section ----------- */

/* ----------- start --> feature-section ----------- */
.feature-card {
    width: 190px !important;
    display: inline-block;
    border: 1px solid #cce7d0;
    box-shadow: 1.25rem 1.25rem 2.125rem rgba(0, 0, 0, 0.03);
}

.feature-card:hover {
    box-shadow: 0.625rem 0.625rem 3.375rem rgba(70, 62, 221, 0.1);
}

.feature_heading {
    font-weight: 400;
    color: var(--green);
}

.feature-card-one .feature_heading {
    background-color: #fddde4;
}

.feature-card-two .feature_heading {
    background-color: #cdebbc;
}

.feature-card-three .feature_heading {
    background-color: #d1e8f2;
}

.feature-card-four .feature_heading {
    background-color: #cdd4f8;
}

.feature-card-five .feature_heading {
    background-color: #f6dbf6;
}

.feature-card-six .feature_heading {
    background-color: #fff2e5;
}

/* ----------- end --> hero-section ----------- */

/* ----------- start --> feature-product-section ----------- */
.product-card,
.arrival-card {
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}
.product-card .product-img,
.arrival-card .arrival-img {
    background-color: #f0f0f0;
}

.product-card:hover,
.arrival-card:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product-card img,
.arrival-card img {
    transition: all 0.3s ease;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    mix-blend-mode: darken;
}

.product-card img:hover,
.arrival-card img:hover {
    transform: scale(1.05);
}

.product-card-body span,
.arrival-card-body span {
    font-size: 16px;
    font-weight: 400;
}

.product-card-body h5,
.arrival-card-body h5 {
    font-size: 17px;
    font-weight: 500;
}

.product-card-body .star .fa-star,
.arrival-card-body .star .fa-star {
    font-size: 13px;
    color: rgb(243, 181, 25);
}

.product-card-body h4,
.arrival-card-body h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--green);
}

.product-card a,
.arrival-card a {
    width: 40px;
    height: 40px;
    border: 1px solid #cce7d0;
    color: var(--green);
    border-radius: 50px;
    background-color: #e8f6ea;
    right: 10px;
    bottom: 15px;
}

.product-card a .fa-shopping-cart,
.arrival-card a .fa-shopping-cart {
    font-size: 18px;
}

.product-card a:hover,
.arrival-card a:hover {
    background-color: #fff;
}

/* ----------- end --> feature-product-section ----------- */

/* ----------- start --> explore-banner-section ----------- */
.explore-banner {
    background: url(/images/banner/b2.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
}

.explore-banner h4 {
    font-size: 18px;
    font-weight: 700;
}

.explore-banner h2 {
    font-size: 22px;
    font-weight: 700;
}

.explore-banner a {
    background-color: #fff;
    font-size: 17px;
    font-weight: 600;
    color: #1a1a1a;
    line-height: 30px;
    transition: 0.2s ease;
    outline: none;
}

.explore-banner a:hover {
    box-shadow: 0.625rem 0.625rem 3.375rem rgba(70, 62, 221, 0.1);
    background-color: var(--green);
    color: #fff;
}

.explore-banner h2 span {
    color: #ef3636;
}

/* ----------- end --> explore-banner-section ----------- */

/* ----------- start --> buy-and-upcoming-section ----------- */
.buy-section {
    background: url(/images/banner/b17.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
}

.upcoming-section {
    background: url(/images/banner/b10.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
}

.buy-section h4,
.upcoming-section h4 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.buy-section h2,
.upcoming-section h2 {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff;
}

.buy-section p,
.upcoming-section p {
    color: #fff;

}

.buy-section a.main_btn,
.upcoming-section a.main_btn {
    font: 13px;
    font-weight: 600;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s ease;
}

.buy-section:hover a.main_btn,
.upcoming-section:hover a.main_btn {
    color: #fff;
    background-color: var(--green);
    border-color: var(--green);
}

/* ----------- end --> buy-and-upcoming-section ----------- */

/* ----------- start --> seasonal-sale-section ----------- */
.seasonal-section {
    background: url(/images/banner/b7.jpg) center no-repeat;
    background-size: cover;
}

.footwear-section {
    background: url(/images/banner/b4.jpg) center no-repeat;
    background-size: cover;
}

.tShirt-section {
    background: url(/images/banner/b18.jpg) center no-repeat;
    background-size: cover;
}

.seasonal-section h2,
.footwear-section h2,
.tShirt-section h2 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.seasonal-section p,
.footwear-section p,
.tShirt-section p {
    color: #ef3636;
    font-weight: 600;
}

/* ----------- end --> seasonal-sale-section ----------- */

/* ----------- start --> newsletter-section ----------- */
.newsletter-section {
    background: url(/images/banner/b14.png) no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    color: #fff;
}

.newsletter-heading h2 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

.newsletter-heading p {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #818ea0;
}

.newsletter-heading p span {
    font-weight: 700;
    color: #ffbd27;
}

.newsletter-section input {
    box-shadow: none;
    padding: 12px 24px;
}

.newsletter-section input:focus {
    box-shadow: none;
}

.newsletter-btn {
    color: #fff !important;
    background-color: var(--green) !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

/* ----------- end --> newsletter-section ----------- */

/* ----------- start --> footer-section ----------- */
.footer-logo strong {
    color: var(--green);
}

.footer-logo a,
.footer-links a {
    font-size: 15px;
    font-weight: 400;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.footer-logo a:hover,
.footer-links a:hover {
    color: var(--green);
}

.footer-links h5 {
    font-weight: 600;
    color: var(--heading_color);
}

.footer-links .fa-brands {
    width: 35px;
    height: 35px;
    background-color: #222;
    font-size: 18px;
    color: #fff;
    transition: 0.3s ease;
}

.footer-links .fa-brands:hover {
    background-color: var(--green);
}

/* ----------- end --> footer-section ----------- */


/* ---------------=- start --> shop-page -=--------------- */

.shop-hero-section {
    background: url(/images/banner/shop-banner.jpg) no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}











/* Start Media Query*/
@media (max-width: 768px) {
    .offcanvas {
        background-color: #E3E6F3 !important;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    }
}

@media (max-width: 576px) {
    .hero_heading {
        font-size: 2.125em;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .hero-body h4 {
        font-size: 1em;
        font-weight: 500;
        color: var(--heading_color);
    }

    .hero-body h2 span {
        font-size: 40px;
    }
}

@media (max-width: 376px) {
    .hero_heading {
        font-size: 2.15em;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .hero-body h4 {
        font-size: 1em;
        font-weight: 500;
        color: var(--heading_color);
    }

    .hero-body h2 span {
        font-size: 38px;
    }
}